.layout {
  min-height: 100vh;
  background-color: #f9fafb;
}

.main-content {
  margin-left: 240px;
  margin-top: 64px;
  padding: 24px;
  min-height: calc(100vh - 64px);
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 64px;
    padding: 16px;
  }
}
